name: pr-build

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

permissions:
  packages: write
  contents: read
  statuses: read
  actions: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      profiles: ${{ steps.profiles.outputs.matrix }}    
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit    
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Setup Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: 1.25.x
      - name: build
        run: |
          go install
          cp -Rpv $(go list -m -f '{{.Dir}}' tailscale.com) tailscale
          sudo chmod 0755 tailscale/ && sudo chown -R $USER. tailscale/
          cd tailscale
          CGO_ENABLED=0 go build -o derper  ./cmd/derper/
